@use '../../abstracts/_variables' as *
@use '../../abstracts/_mixins' as *
@use '../../abstracts/_tokens' as *
.profile-details
   display: flex
   justify-content: space-between
   gap: 20px
   &__main
      display: flex
      flex-direction: column
   &__user
      width: 300px
      min-width: 200px
   &__user-avatar
      object-fit: cover
      margin-bottom: 10px
      svg
         fill: var(--muk-primary)
         width: 100%
         height: 100%
         border-radius: 50%
         padding: 20px
         border: 2px solid var(--muk-primary)
   &__user-data
      p
         margin: 5px
   &__list
      display: flex
      flex-direction: column
      justify-content: start
      margin: var(--muk-space-container-sm) 0px
      p
         margin: 2px 0px

@media ( max-width:  700px)
   .profile-details
      flex-direction: column
      gap: 10px
      &__user
         width: 100%
         display: flex
         justify-content: space-between
         align-items: center
      &__user-avatar
         width: 200px
         height: 200px
      &__user-data
         margin-left: 5px

@media ( max-width: 480px)
   .profile-details
      &__user
         justify-content: space-around
      &__user-avatar
         width: 120px
         height: 120px
