@use '../../abstracts/_variables' as *
@use '../../abstracts/_mixins' as *

.articles-table-wrapper
   width: 100%
   overflow: scroll
.articles-table
   border-collapse: collapse
   margin: $margin-block
   width: 100%
   th, td
      padding: $padding-element
   th
      letter-spacing: 0.9px
   td
      select
         min-width: 120px
      button
         width: 100%
   tbody tr
         margin: $margin-block
         transition: $transition
   tbody tr:hover
         background: var(--muk-bg-card)

   &__actions
