
@use '../../abstracts/_variables' as *
@use '../../abstracts/_mixins' as *

.article-item
   margin-bottom: 30px
   &__heading
      display: flex
      flex-direction: row
      justify-content: space-between
   &__badges
      display: flex
      gap: 15px

@media (max-width: 436px)
   .article-item
      &__heading
         flex-direction: column
      &__badges
         flex-direction: column
         gap: 5px
