@use '../../abstracts/_tokens' as *
@use '../../abstracts/_mixins' as *

.article-filter
   &__active
      width: 100%
      display: flex
      align-items: start
      justify-content: start
      flex-direction: row
      overflow: scroll
   &__filter
      width: 100%
      display: flex
      align-items: center
      justify-content: start
      overflow: scroll
      margin-top: 10px
   input
      height: 100%
      width: 350px
   select
      width: 280px
