@use '../../abstracts/_variables' as *
@use '../../abstracts/_mixins' as *
@use '../../abstracts/_tokens' as *

.article-preview
   &__heading
      display: flex
      flex-direction: row
      justify-content: space-between
   &__heading--date
   &__badges
      display: flex
      gap: 15px
      width: 100%
   &__content
      margin: $muk-space-content-md 0px
      padding: 30px
      color: var(--muk-text)
      background: var(--muk-bg-soft)
   &__tags
      display: flex
      @include block-element()
   &__tags--item
      margin-left: 5px
      color: var(--muk-text-muted)
   &__tags--item:first-child
      margin-left: 0px
   &__views
      display: flex
      align-items: center
      flex-direction: row
      justify-content: flex-end
      a
         margin-right: 4px
   &__admin
   &__admin--actions
      @include block-element()
      display: flex
      button
         width: 200px
         margin-left: 5px
      button:first-child

@media (max-width: 767px)
   .article-preview
      &__badges
         flex-direction: column
