//theme

:root
   --hljs-a: #6f42c1
   --hljs-s: #22863a
   --hljs-d: #005cc5
   --hljs-f: #b36b00
   --hljs-g: #d73a49
   --hljs-h: #6a737d
   --hljs-j: #b08800

:root.theme-dark
   --hljs-a: #c792ea
   --hljs-s: #a3e635
   --hljs-d: #4fc3f7
   --hljs-f: #ffb454
   --hljs-g: #ff7b72
   --hljs-h: #8b949e
   --hljs-j: #ffd166
