
.article-filter
   width: 100%
   display: flex
   align-items: center
   justify-content: start
   overflow: scroll
   input
      margin-top: -20px
      height: 100%
      width: 350px
   select
      width: 280px
