//sass/components/form
@use '../abstracts/_variables' as *
@use '../abstracts/_mixins' as *

.ui-field
   display: flex
   flex-direction: column
   &__label
      @include field-text(12px, var(--text-muted))
      margin: $margin-element
   &__control
      width: 100%
      padding: $padding-element
      border: $border
      color: var(--text)
      background: var(--bg)
      transition: $transition
      &:focus
         border-color: var(--primary)
         box-shadow: 0 0 0 3px var(--focus)
      &:disabled
         opacity: $opacity
         cursor: not-allowed
   &__error
      @include field-text(13px, var(--danger))
   &__hint
      @include field-text(13px,var(--text-muted))
   &.is-error .ui-field__control
      border-color: var(--danger)
