@use '../abstracts/_variables' as *

//md editor 
.md-editor
   width: 100%
   margin: $margin-block
   &__tabs
      display: flex
      min-width: 200px
      max-width: 500px
      button:last-child
         margin-left: 5px
   &__preview-content
      color: var(--text)
      background: var(--bg-soft)
      padding: $padding-element
      ul li
      list-style: circle !important
      ol
         list-style: decimal
      pre
         white-space: pre

//code block
.code-block
   position: relative
   margin: $margin-block
   border: $border
   background: white
   button
      white-space: normal
      width: 200px
   &__copy
      position: absolute
      top: 0px
      right: 10px
