//mixins
// @use './variables' as *

// === FONTS === //
@mixin font-size($font-size, $line-height)
   font-size: $font-size
   line-height: $line-height

@mixin font-style( $color, $padding-top, $text-align)
   color: $color
   padding-top: $padding-top
   text-align: $text-align

@mixin field-text($font-size, $color)
   font-size: $font-size
   color: $color
