//variables

/*=== FONT SIZES ===*/
$heading: 26px
$subheading: 20px
$body-text: 16px

/*=== FONT SIZES MD ===*/
$heading-md: 24px
$subheading-md: 18px 
$body-text-md: 15px 

/*=== FONT SIZES SM ===*/
$heading-sm: 20px 
$subheading-sm: 18px 
$body-text-sm: 13px 

/*=== TRANSITION ===*/
$transition: all 0.3s ease-out