@use '../../abstracts/_mixins' as *
@use '../../abstracts/_variables' as *

.user-table-wrapper
   width: 100%
   overflow: scroll
.user-table
   border-collapse: collapse
   margin: $margin-block
   width: 100%
   th, td
      padding: $padding-element
   th
      color: var(--muk-text)
      letter-spacing: 0.9px
   td
      select
         min-width: 120px
      button
         width: 100%
   tbody tr
         border-top: $border
         margin: $margin-block
         transition: $transition
   tbody tr:hover
         background: var(--muk-bg-card)

   &__actions
