
@use '../../abstracts/_tokens' as *
@use '../../abstracts/_mixins' as *

.admin-user-filter
   padding: 25px 0px
   &__filter
      width: 100%
      display: flex
      align-items: center
      justify-content: start
      overflow: scroll
   &__info
      button
         margin: 30px 0px
   input
      height: 100%
      width: 350px
   select
      width: 280px
