/* shared compoents*/
@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/tokens' as *

/* ================= TRANSITIONS =================  */
.fade-enter-active,
.fade-leave-active
   transition: opacity .25s ease

.fade-enter-from,
.fade-leave-to
   opacity: 0

/* ================= Filter CHIP =================  */
.filter-chip-wrapper
   display: flex
   align-items: start
   jutify-content: start
   flex-direction: row
   overflow: scroll

.filter-chip
   min-width: 300px
   max-width: 350px
   margin: 0px 5px
   padding: 5px 15px
   display: flex
   align-items: center
   flex-direction: row
   justify-content: space-between
   background: $muk-bg-soft
   transition: $muk-transition
   &:hover
      background: $muk-bg-card
