/* shared compoents*/
@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/tokens' as *

//comment list component
.comment-list-skeleton
   margin: $margin-block
   padding: $padding-block
   &__text
      @include skeleton-text(200px, 6px)
   &__line
      @include skeleton-text(100%, 30px)
      height: 60px

/* ================= TRANSITIONS =================  */
.fade-enter-active,
.fade-leave-active
   transition: opacity .25s ease

.fade-enter-from,
.fade-leave-to
   opacity: 0
